body{
	margin: 0px;
	background-color: black;
}


a.top {
    position: fixed;
    left: 90%;
    bottom: 50px;
    z-index: 999;
  }

#con1{
		text-align: center;
		height: 850px;
		background-attachment: fixed;
		background-image: url("../img/studioback1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}

.sogalolgo{
	width: 25%;
	position: absolute;
	left: 10%;
	top:10%;
	animation: logoani 2s;
}

.sul1{
	width: 40%;
	color: white;
	text-align: left;
	margin-left: 10%;
	margin-top: 20%;
	animation: logoani 3s;
}

.studioimg{
	width:40%;
	position: absolute;
	left: 55%;
	top: 30%;
}

@keyframes logoani {
    from {opacity:0;}
    to {opacity:1;}
    ease-out;
}

#con2{
		text-align: center;
		height: 850px;
		background-attachment: fixed;
		background-image: url("../img/studioback2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}

#con2 h1{font-family: 'Jua', sans-serif;
		font-size: 40px;
		color: white;
		}

.yao{
	width: 30%;
	margin-top: 8%;
	margin-left: 5%;
	float: left;
}

.sul2{
	width: 50%;
	margin-top: 10%;
	margin-left:40%;
	color: white;
}

#con3{
		text-align: center;
		height: 2700px;
		background-attachment: fixed;
		background-image: url("../img/studioback3.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}

#con3 h1{font-family: 'Jua', sans-serif;
		font-size: 40px;
		color: #3a5ddb;
		margin-top: 5%
		}

#con4{
		text-align: center;
		height: 850px;
		background-attachment: fixed;
		background-image: url("../img/studioback3.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}

#con3 table{
	text-align: left;
	width: 90%;
	margin-left:5%;
	margin-top: 3%;
}



.gallery{
  width: 100%;
  max-width: 300px;
  margin: 2rem auto;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-item{
  width: 270px;
  height: 380px;
  margin: 10px;
  background: black;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.gallery-item-image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:20;
  -webkit-transition:all .5s ease;
  transition: all .5s ease;
  bottom:0;
  overflow: hidden;

}

.gallery-item:hover .gallery-item-image{
  bottom: 80px;
}

.gallery-item-description{
  color:white;
  font-size: .8rem;
  width: 100%;
  height: 80px;
  padding: .5rem .8rem;
  background: #263a82;
  position: absolute;
  bottom:0;
}