html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav{
	display: block;
}
body {
	line-height: 1;
	background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link {text-decoration: none;}

/*메뉴*/



/*본문 
  #con1{
      
  }

  #sec1{
  	height: 100vh;
  	background:no-repeat;
  	background:url('../img/back1.jpg');
  	overflow: hidden;
  	background-size: 110%,110%;
  }
*/
#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1000;
     overflow: hidden;
}

.mainlogos{
	width: 100%
	margin:0px;
}


.logoimg{
	width: 550px;
	margin-left: 35%;
	margin-top: 30px;
	animation: logoani 3s;
}
.ghilogoimg{
	width: 300px;
	/*margin-right: 0px;
	padding-left:80px; */
	position: fixed;
	left: 80%;
	top:80%;
	animation: logoani 3s;
}


@keyframes logoani {
    from {opacity:0;}
    to {opacity:1;}
    ease-out;
}
